<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Practice</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

    
    <div id="logo-container">
        <h1 id="logo">IndexGuru</h1>
        <p id="slogan">A simple node express Index-Card App</p>
    </div>

    <ul>
        <button><a href="/">Home</a></button>
        <button><a href="/add">Add your index card</a></button>
		<button><a href="/results" target="_blank">View all</a></button>
		<button><a href="/flashcard" target="_blank">Practice with Flashcards</a></button>
    </ul>

