
<% include partials/header %>

<div class="container">		
	<form method="POST" action="/create">
		<label>Question</label>
		<input type="text" name="question">

		<label>Answer</label>
		<input type="text" name="answer">

		<button>Create</button>
	</form>
</div>

<script type="text/javascript" src="/script.js"></script>

<% include partials/footer %>

