
<% include partials/header %>

<div class="form-container">		
	<form id="form" method="POST" action="/create">
		<label class="form-text">Question</label>
		<textarea class="text-box" name="question" placeholder="Write your question.." required></textarea>

		<label class="form-text">Answer</label>
		<textarea class="text-box" name="answer" placeholder="Write your answer.." required></textarea>

		<br> <br> <br>

		<button class="create-btn"><i class="fa fa-pencil"></i>Create</button>
	</form>
</div>

<script type="text/javascript" src="/script.js"></script>

<% include partials/footer %>

