<% include partials/header %>

    <div id="header">
        <h3><span>Front</span></h3>
    </div>


    <div id="cardStyling">
        <span></span>
    </div>

    <div> 
        <a href="#" id="hyperLinks">flip me</a>
    </div>


    <div id="header">
            <h3><span>Back</span></h3>
        </div>
    
        <div id="cardStyling">
            <span></span>
        </div>
    
        <div> 
            <a href="#" id="hyperLinks">NEXT</a>
        </div>

<% include partials/footer %>
