	<% include partials/header %>

    <div id="header">
        <h3><span>Front</span></h3>
		
		<% for (var i=0; i<card.length; i++) { %>
			<div>
				<span class="name"><%= card[i].question; %></span>	
				<span class="hide"><%= card[i].answer %></span>	
			</div>		
		<% } %>
	</div>

	<script
	src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous">
	</script>

	<script>

		$(".name").on("click", function(){
			$(this).siblings().eq(0).removeClass("hide");
		});
		
	</script>

	<% include partials/footer %>
