#slogan {
font-size: 20px;
}

.btn {
    color: #4359ac;
    font-size: 80px;
    border-radius: 12px;
    border: 4px solid #4359ac;
    width: 275px;
    margin-right: 47px;
    box-shadow: 0 8px 16px 0#4359ac, 0 6px 20px 0 #c3cdf0;
    letter-spacing: .5px;
    font-weight: bold;
    font-variant: small-caps;
}

.btn:active {
    transform: translateY(4px);
  }

  .create-btn {
    color: #4359ac;
    font-size: 25px;
    border-radius: 25px;
    border: 4px solid #4359ac;
    width: 185px;
    box-shadow: 0 8px 16px 0#4359ac, 0 6px 20px 0 #c3cdf0;
    letter-spacing: .5px;
}

  .create-btn:active {
    transform: translateY(4px);
  }

.text {
    color: white;
    font-family: 'Poppins', sans-serif;
}

.form-text {
    font-family: 'Poppins', sans-serif;
    color: #4359ac;
    font-size: 50px;
}

.form-container {
    display: block;
    text-align: center;
    margin-top: 100px;
}

.text-box {
    height: 46px;
    width: 235px;
}

.footer {
    position:fixed;bottom:0;
    text-align: center;
    width:100%;
    display:block;
    color: grey;
}

a {
    text-decoration: none;
    font-size: 12px;
    padding: 10px 24px;
    border-radius: 8px;
    
}

.hide {
    display: none;
    color: red;   
}

#index-card {
    width: 100%;
    height: 400px;
    font-family: 'Poppins', sans-serif;
}

.name {
    padding-right: 350px;
    text-align: center;
}

h3 {
    color: #4359ac;
    font-size: 25px;
    display: inline-block;
    padding-left: 165px;
}

#back-header {
    float:right;
    padding-right: 500px;
}

#cardStyling {
    width: 1000px;
    height: 400px;
    background-color: blanchedalmond;
    border-style: solid;
    border-color: cornflowerblue;
    margin: auto;
}

#hyperLinks:link {
    padding: 50px;
    text-decoration: none;
    text-align: end;
    float: right;
}

#header {
    padding-top: 25px; 
    padding-right: 25px; 
    padding-left: 45px; 
    padding-bottom: 25px; 
}


#logo-container {
    width: 1350px;
    height: 150px;
    background-color: #4359ac;
    ;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin-top: -21px;
    margin-left: 0px;
}


